<h1 class="display-4">{{data.title}}</h1>

<div class="col-sm-12">    
    <!-- Start intro -->
    <div class="row">
	<div class="col-sm-12">
            <div class="card card-block">
		<h4 class="card-title">{{data.intro.title}}</h4>					
                    <div ng-repeat="item in data.intro.comment">
			<p><span class="card-text" ng-bind-html="item"></span><p>
                    </div>
            </div>        
	</div>
    </div>
    <!-- End intro -->
    
    <!-- Start inportfolio -->
    <div class="row">
	<div class="col-sm-12">
            <div class="card card-block">
		<h4 class="card-title">{{data.inportfolio.title}}</h4>					
                    <div ng-repeat="item in data.inportfolio.comment">
			<p><span class="card-text" ng-bind-html="item"></span><p>
                    </div>
            </div>        
	</div>
    </div>
    <!-- End inportfolio -->
    
    <!-- Start inprogram -->
    <div class="row">
	<div class="col-sm-12">
            <div class="card card-block">
		<h4 class="card-title">{{data.inprogram.title}}</h4>					
                    <div ng-repeat="item in data.inprogram.comment">
			<p><span class="card-text" ng-bind-html="item"></span><p>
                    </div>
            </div>        
	</div>
    </div>
    <!-- End inprogram -->
    
    <!-- image of the para -->
    <div class="card card-block">
	<div class="col-sm-12">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <img class="w-100" src="/{{data.image}}" alt="#">
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    <!-- end of image of the para -->
</div>