<div class="row">
    <div class="col-sm-12">	
	<div class="card card-block bg-faded">
            <h4 class="card-title"><%-data.title%></h4>
                <% for (var i=0; i<data.comment.length; i++) { %>
                    <p class="card-text"><%-data.comment[i]%></p>
		<% } %>
                <% if (typeof data.image != 'undefined')  { %>
			<div class="card card-block bg-faded">
                            <div class="col-sm-12">
				<div class="col-sm-2"></div>
				<div class="col-sm-8">
                                    <div class="card card-block bg-faded">
					<img class="w-100" src="/<%-data.image%>" alt="xxx">
                                    </div>
				</div>
				<div class="col-sm-2"></div>
                            </div>
			</div>
		<% } %>
	</div>
    </div>
</div>