<div class="row">
    <div class="col-sm-12">
		
			<div class="card card-block">
				<h4 class="card-title"><%-data.title%></h4>
					<% for (var i=0; i<data.comment.length; i++) { %>
						<p class="card-text"><%-data.comment[i]%></p>
					<% } %>
			</div>
        
    </div>
</div>