<div class="row">
    <div class="col-sm-12">
        <div class="card card-block">
            <% for (var i=0; i<data.comment.length; i++) { 
                item = data.comment[i]; %>
                <div class="card card-block">
		<h4 class="card-title"><%-item.title%></h4>
                    <% for (var j=0; j<item.comment.length; j++) { %>
                        <p class="card-text"><%-item.comment[j]%></p>
                    <% } %>
			<% if (typeof item.image != 'undefined')  { %>
			<div class="card card-block">
                            <div class="col-sm-12">
				<div class="col-sm-2"></div>
				<div class="col-sm-8">
                                    <div class="card card-block">
					<img class="w-100" src="/<%-item.image%>" alt="xxx">
                                    </div>
				</div>
				<div class="col-sm-2"></div>
                            </div>
			</div>
			<% } %>
		</div>
            <% } %>
        </div>
    </div>
</div>