<h1 class="display-4">{{data.data.title}}</h1>

<div class="col-sm-12">    
    <!-- Start overview -->
	<div class="row">
		<div class="col-sm-12">
			<div class="card card-block">
				<h4 class="card-title">{{data.overview.title}}</h4>					
				<div ng-repeat="item in data.overview.comment">
					<p><span class="card-text" ng-bind-html="item"></span><p>
				</div>
			</div>        
		</div>
	</div>
	<!-- End overview -->
    
    <!-- Start prototype -->
	<div class="row">
		<div class="col-sm-12">
			<div class="card card-block">
				<h4 class="card-title">{{data.prototype.title}}</h4>					
				<div ng-repeat="item in data.prototype.comment">
					<p><span class="card-text" ng-bind-html="item"></span><p>
				</div>
			</div>        
		</div>
	</div>
	<!-- End prototype -->
    
</div>