

<h1 class="display-4">{{data.title}}</h1>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" role="tab" href="#{{data.stitle}}" target="_self">{{data.title}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" role="tab" href="#{{data.sprint.stitle}}" target="_self">{{data.sprint.title}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" role="tab" href="#{{data.standup.stitle}}" target="_self">{{data.standup.title}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" role="tab" href="#{{data.planning.stitle}}" target="_self">{{data.planning.title}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" role="tab" href="#{{data.review.stitle}}" target="_self">{{data.review.stitle}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" role="tab" href="#{{data.retrospect.stitle}}" target="_self">{{data.retrospect.title}}</a>
  </li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="{{data.stitle}}" role="tabpanel" target="_self">
		<!-- Start Overview -->
		<div class="row">
			<div class="col-sm-12">
				<div class="card card-block">
					<h4 class="card-title">{{data.overview.title}}</h4>					
					<div ng-repeat="item in data.overview.comment">
						<p><span class="card-text" ng-bind-html="item"></span><p>
					</div>
				</div>        
			</div>
		</div>
		<!-- End Overview -->
		<!-- image of the para -->
		<div class="card card-block">
			<div class="col-sm-12">
				<div class="col-sm-2"></div>
				<div class="col-sm-8">
					<img class="w-100" src="/{{data.overview.image}}" alt="self-organization">
				</div>
				<div class="col-sm-2"></div>
			</div>
		</div>
		<!-- end of image of the para -->
    </div>
	<div class="tab-pane" id="{{data.sprint.stitle}}" role="tabpanel" target="_self">
		<!-- Start sprint-->
		<div class="row">
			<div class="col-sm-12">
				<div class="card card-block">
					<h4 class="card-title">{{data.sprint.title}}</h4>					
					<div ng-repeat="item in data.sprint.comment">
						<p><span class="card-text" ng-bind-html="item"></span><p>
					</div>
				</div>        
			</div>
		</div>
		<!-- End sprint-->
    </div>
	<div class="tab-pane" id="{{data.standup.stitle}}" role="tabpanel" target="_self">
		<!-- Start standup-->
		<div class="row">
			<div class="col-sm-12">
				<div class="card card-block">
					<h4 class="card-title">{{data.standup.title}}</h4>					
					<div ng-repeat="item in data.standup.comment">
						<p><span class="card-text" ng-bind-html="item"></span><p>
					</div>
				</div>        
			</div>
		</div>
		<!-- End standup-->
    </div>
	<div class="tab-pane" id="{{data.planning.stitle}}" role="tabpanel" target="_self">
        <!-- Start planning-->
		<div class="row">
			<div class="col-sm-12">
				<div class="card card-block">
					<h4 class="card-title">{{data.planning.title}}</h4>					
					<div ng-repeat="item in data.planning.comment">
						<p><span class="card-text" ng-bind-html="item"></span><p>
					</div>
				</div>        
			</div>
		</div>
		<!-- End planning-->
    </div>
	<div class="tab-pane" id="{{data.review.stitle}}" role="tabpanel" target="_self">
        <!-- Start review-->
		<div class="row">
			<div class="col-sm-12">
				<div class="card card-block">
					<h4 class="card-title">{{data.review.title}}</h4>					
					<div ng-repeat="item in data.review.comment">
						<p><span class="card-text" ng-bind-html="item"></span><p>
					</div>
				</div>        
			</div>
		</div>
		<!-- End review-->
    </div>
	<div class="tab-pane" id="{{data.retrospect.stitle}}" role="tabpanel" target="_self">
        <!-- Start retrospect-->
		<div class="row">
			<div class="col-sm-12">
				<div class="card card-block">
					<h4 class="card-title">{{data.retrospect.title}}</h4>					
					<div ng-repeat="item in data.retrospect.comment">
						<p><span class="card-text" ng-bind-html="item"></span><p>
					</div>
				</div>        
			</div>
		</div>
		<!-- End retrospect-->
    </div>
</div>



