<h1 class="display-4">{{data.data.title}}</h1>

<div class="row">
    <!-- Start overview -->
	<div class="row">
		<div class="col-sm-12">
			<div class="card card-block">
				<h4 class="card-title">{{data.data.title}}</h4>					
				<div ng-repeat="item in data.data.comment">
					<p><span class="card-text" ng-bind-html="item"></span><p>
				</div>
			</div>        
		</div>
	</div>
	<!-- End overview -->
</div>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" role="tab" href="#{{data.inportfolio.stitle}}" target="_self">{{data.inportfolio.title}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" role="tab" href="#{{data.inprogram.stitle}}" target="_self">{{data.inprogram.title}}</a>
  </li>
 </ul>
 
 <div class="tab-content">

    <div class="tab-pane active" id="{{data.inportfolio.stitle}}" role="tabpanel" target="_self">
        <!-- Start inportfolio -->
		<div class="row">
			<div class="col-sm-12">
				<div class="card card-block">
					<h4 class="card-title">{{data.inportfolio.title}}</h4>					
					<div ng-repeat="item in data.inportfolio.comment">
						<p><span class="card-text" ng-bind-html="item"></span><p>
					</div>
				</div>        
			</div>
		</div>
		<!-- End inportfolio -->
    </div>
	
	<div class="tab-pane" id="{{data.inprogram.stitle}}" role="tabpanel" target="_self">
        <!-- Start inprogram -->
		<div class="row">
			<div class="col-sm-12">
				<div class="card card-block">
					<h4 class="card-title">{{data.inprogram.title}}</h4>					
					<div ng-repeat="item in data.inprogram.comment">
						<p><span class="card-text" ng-bind-html="item"></span><p>
					</div>
				</div>        
			</div>
		</div>
		<!-- End inprogram -->
		<!-- Start image para -->
		<div class="card card-block">
			<div class="col-sm-12">
				<div class="col-sm-2"></div>
				<div class="col-sm-8">
					<img class="w-100" src="/{{data.inprogram.image}}" alt="{{data.inprogram.title}}">
				</div>
				<div class="col-sm-2"></div>
			</div>
		</div>
		<!-- End image para -->
    </div>
	
</div>