<%- include ../_header %>
<div ng-app='sbok'>
	<div ng-controller='ctrOrgIntro'>
		<h1 class="display-4">{{data.title}}</h1>
		<div class="card card-block">
			<div ng-repeat="item in data.comment">
				<p>{{item}}
			</div
		</div>
	</div>
</div>

<%- include ../_footer %>
