<%- include _header %>

<a href="/" class="btn btn-danger">go back to normal view</a>
      <!-- Main component for a primary marketing message or call to action -->
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-block">
                <h3 class="card-title">Principles</h3>
                <p class="card-text"></p>
				<a href="/angviews/prin_intro" class="btn btn-info">Introduction</a>
                <a href="/angviews/prin_epc" class="btn btn-info">Control</a>
                <a href="/angviews/prin_selforg" class="btn btn-info">Self-organization</a>
                <a href="/angviews/prin_collaboration" class="btn btn-info">Collaboration</a>
                <a href="/angviews/prin_prin_valuebased" class="btn btn-info">Value-based</a>
                <a href="/angviews/prin_timeboxing" class="btn btn-info">Time-Boxing</a>
                <a href="/angviews/prin_iterative" class="btn btn-info">Iterative</a>
				<a href="/angviews/prin_vs" class="btn btn-info">Versus</a>
            </div>
        </div>
    </div>
      <div class="row">
        <div class="col-sm-12">
            <div class="card card-block">
                <h3 class="card-title">Phases</h3>
                <p class="card-text"></p>
                <a href="/angviews/initiate" class="btn btn-success">Go Initiate</a>
                <a href="/angviews/plan" class="btn btn-success">Go Plan & Estimate</a>
                <a href="/angviews/implement" class="btn btn-success">Go Implement</a>
                <a href="/angviews/review" class="btn btn-success">Go Review and Retrospect</a>
                <a href="/angviews/release" class="btn btn-success">Release</a>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-block">
                <h3 class="card-title">Organizational</h3>
                <p class="card-text"></p>
                <a href="/angviews/org_intro" class="btn btn-info" >Intro</a>
                <a href="/angviews/org_roles" class="btn btn-info">Roles guide</a>
                <a href="/angviews/org_project" class="btn btn-info">Project Roles</a>
                <a href="/angviews/org_owner" class="btn btn-info">Product Owner</a>
                <a href="/angviews/org_master" class="btn btn-info">Master</a>
                <a href="/angviews/org_team" class="btn btn-info">Team</a>
                <a href="/angviews/org_portfolio" class="btn btn-info">Portfolio</a>
                <a href="/angviews/org_summary" class="btn btn-info">Summary</a>
                <a href="/angviews/org_versus" class="btn btn-info">Versus</a>
                <a href="/angviews/org_theories" class="btn btn-info">HR Theories</a>
            </div>
        </div>
    </div>
      
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-block">
                <h3 class="card-title">Business Justification</h3>
                <p class="card-text"></p>
		<a href="/angviews/bj_intro" class="btn btn-info" >Introduction</a>
		<a href="/angviews/bj_roles" class="btn btn-info" >Roles</a>
		<a href="/angviews/bj_vdd" class="btn btn-info" >Value-Driven</a>
		<a href="/angviews/bj_importance" class="btn btn-info" >Importance</a>
		<a href="/angviews/bj_techniques" class="btn btn-info" >Techniques</a>
		<a href="/angviews/bj_continuous" class="btn btn-info" >Continuous</a>
		<a href="/angviews/bj_benefits" class="btn btn-info" >Benefits</a>
		<a href="/angviews/bj_summary" class="btn btn-info" >Summary</a>
		<a href="/angviews/bj_vs" class="btn btn-info" >Versus</a>
            </div>
        </div>
    </div>
      
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-block">
                <h3 class="card-title">Quality</h3>
                <p class="card-text"></p>
                <a href="/angviews/qual_intro" class="btn btn-info" >Introduction</a>
                <a href="/angviews/qual_roles" class="btn btn-info" >Roles</a>
                <a href="/angviews/qual_defined" class="btn btn-info" >Defined</a>
                <a href="/angviews/qual_acceptance" class="btn btn-info" >acceptance</a>
                <a href="/angviews/qual_mgt" class="btn btn-info" >Management</a>
                <a href="/angviews/qual_summary" class="btn btn-info" >Summary</a>
                <a href="/angviews/qual_vs" class="btn btn-info" >Versus</a>
            </div>
        </div>
    </div>
      
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-block">
                <h3 class="card-title">Change</h3>
                <p class="card-text"></p>
                <a href="/angviews/chg_intro" class="btn btn-info" >Introduction</a>
		<a href="/angviews/chg_roles" class="btn btn-info" >Roles</a>
		<a href="/angviews/chg_overview" class="btn btn-info" >Overview</a>
		<a href="/angviews/chg_change" class="btn btn-info" >Change in Scrum</a>
		<a href="/angviews/chg_integrating" class="btn btn-info" >integrating</a>
		<a href="/angviews/chg_portfolio" class="btn btn-info" >portfolio</a>
		<a href="/angviews/chg_summary" class="btn btn-info" >Summary</a>
		<a href="/angviews/chg_vs" class="btn btn-info" >Versus</a>
            </div>
        </div>
    </div>
      
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-block">
                <h3 class="card-title">Risks</h3>
                <p class="card-text"></p>
                <a href="/angviews/risk_role" class="btn btn-info" >Go Roles</a>
                <a href="/angviews/risk_what" class="btn btn-info" >Go What?</a>
                <a href="/angviews/risk_mgt" class="btn btn-info" >Go Management</a>
                <a href="/angviews/risk_mini" class="btn btn-info" >Go Minimize</a>
                <a href="/angviews/risk_portfolio" class="btn btn-info" >Go Portfolio</a>
                <a href="/angviews/risk_summary" class="btn btn-info" >Go summary</a>
                <a href="/angviews/risk_vs" class="btn btn-info" >Go Scrum vs.</a>
            </div>
        </div>
    </div>
<%- include _footer %>
