<%- include ../_header %>

<div ng-app='sbokOrg'>
	<div ng-controller='ctrOrgMaster'>
<h1 class="display-4">{{data.title}}</h1>

<ul class="nav nav-tabs">
	<li class="nav-item">
        <a class="nav-link active" data-toggle="tab" role="tab" href="#{{data.overview.title}}">{{data.overview.title}}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" role="tab" href="#{{data.table.title}}">{{data.table.title}}</a>
    </li>
	<li class="nav-item">
        <a class="nav-link" data-toggle="tab" role="tab" href="#{{data.chief.stitle}}">{{data.chief.title}}</a>
    </li>
</ul>

<div class="tab-content">
		
		<div class="tab-pane active" id="{{data.overview.title}}" role="tabpanel">
            <!-- Start Overview -->
			<div class="row">
				<div class="col-sm-12">
					<div class="card card-block">
						<h4 class="card-title">{{data.overview.title}}</h4>					
						<div ng-repeat="item in data.overview.comment">
							<p><span class="card-text" ng-bind-html="item"></span><p>
						</div>
					</div>        
				</div>
			</div>
			<!-- End Overview -->
		</div>
		
        <div class="tab-pane" id="{{data.table.title}}" role="tabpanel">
			<!-- Start table -->
			<div class="card card-block">
				<table class="table table-hover">
					<thead>
						<tr>
							<th ng-repeat="head in data.table.head">
								{{head}}
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="row in data.table.body">
							<td ng-repeat="item in row">
								<li><span ng-bind-html="item"></span>
							</td>
						</tr>
					</tbody>
				</table>
            </div>
			<!-- End table -->
		</div>
		
		<div class="tab-pane" id="{{data.chief.stitle}}" role="tabpanel">
           <!-- Start chief -->
			<div class="row">
				<div class="col-sm-12">
					<div class="card card-block">
						<h4 class="card-title">{{data.chief.title}}</h4>					
						<div ng-repeat="item in data.chief.comment">
							<p><span class="card-text" ng-bind-html="item"></span><p>
						</div>
					</div>
					<!-- image of the para -->
					<div class="card card-block">
						<div class="col-sm-12">
							<div class="col-sm-2"></div>
							<div class="col-sm-8">
								<img class="w-100" src="/{{data.chief.image}}" alt="self-organization">
							</div>
							<div class="col-sm-2"></div>
						</div>
					</div>
					<!-- end of image of the para -->
				</div>
			</div>
			<!-- End chief -->
		</div>
</div>
	
</div></div>
<%- include ../_footer %>

