<%- include ../_header %>

<div ng-app='sbokOrg'>
	<div ng-controller='ctrOrgFolio'>
<h1 class="display-4">{{data.title}}</h1>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" role="tab" href="#{{data.definition.stitle}}">{{data.definition.title}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" role="tab" href="#{{data.project.stitle}}">{{data.project.title}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" role="tab" href="#{{data.portfolio.stitle}}">{{data.portfolio.title}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" role="tab" href="#{{data.involvement.stitle}}">{{data.involvement.title}}</a>
  </li>
</ul>

<div class="tab-content">

    <div class="tab-pane active" id="{{data.definition.stitle}}" role="tabpanel">
		<!-- Start definition -->
		<div class="row">
			<div class="col-sm-12">
				<div class="card card-block">
					<h4 class="card-title">{{data.definition.title}}</h4>					
					<div ng-repeat="item in data.definition.comment">
						<p><span class="card-text" ng-bind-html="item"></span><p>
					</div>
				</div> 
				<!-- Start Examples -->
				<div class="card card-block bg-faded" ng-repeat="example in data.definition.examples">
					<h4 class="card-title">{{example.title}}</h4>					
					<div ng-repeat="item in example.comment">
						<p><span class="card-text" ng-bind-html="item"></span><p>
					</div>
				</div>
				<!-- End Examples -->
			</div>
		</div>
		<!-- End definition -->
		
		
    </div>
    
    <div class="tab-pane" id="{{data.project.stitle}}" role="tabpanel">
		<!-- Start project -->
		<div class="row">
			<div class="col-sm-12">
				<div class="card card-block">
					<h4 class="card-title">{{data.project.title}}</h4>					
					<div ng-repeat="item in data.project.comment">
						<p><span class="card-text" ng-bind-html="item"></span><p>
					</div>
				</div>        
			</div>
		</div>
		<!-- End project -->
		<!-- image of the para -->
		<div class="card card-block">
			<div class="col-sm-12">
				<div class="col-sm-2"></div>
				<div class="col-sm-8">
					<img class="w-100" src="/{{data.project.image}}" alt="#">
				</div>
				<div class="col-sm-2"></div>
			</div>
		</div>
		<!-- end of image of the para -->
		<!-- Start sos -->
		<div class="row">
			<div class="col-sm-12">
				<div class="card card-block">
					<h4 class="card-title">{{data.project.sos.title}}</h4>					
					<div ng-repeat="item in data.project.sos.comment">
						<p><span class="card-text" ng-bind-html="item"></span><p>
					</div>
				</div>        
			</div>
		</div>
		<!-- End sos -->
    </div>
    
    <div class="tab-pane" id="{{data.portfolio.stitle}}" role="tabpanel">
		<!-- Start portfolio -->
		<div class="row">
			<div class="col-sm-12">
				<div class="card card-block">
					<h4 class="card-title">{{data.portfolio.title}}</h4>
					<div class="card card-block" ng-repeat="para in data.portfolio.comment"">
						<h4 class="card-title">{{para.title}}</h4>					
						<div ng-repeat="item in para.comment">
							<p><span class="card-text" ng-bind-html="item"></span><p>
						</div>
						<span ng-if="para.image">
							<!-- image of the para -->
							<div class="card card-block">
								<div class="col-sm-12">
									<div class="col-sm-2"></div>
									<div class="col-sm-8">
										<img class="w-100" src="/{{para.image}}" alt="self-organization">
									</div>
									<div class="col-sm-2"></div>
								</div>
							</div>
							<!-- end of image of the para -->
						</span>
					</div>        
				</div>
			</div>
		</div>
		<!-- End portfolio -->
    </div>
    
    <div class="tab-pane" id="{{data.involvement.stitle}}" role="tabpanel">
        <!-- Start Involvement -->
		<div class="row">
			<div class="col-sm-12">
				<div class="card card-block">
					<h4 class="card-title">{{data.involvement.title}}</h4>					
					<div ng-repeat="item in data.involvement.comment">
						<p><span class="card-text" ng-bind-html="item"></span><p>
					</div>
				</div>        
			</div>
		</div>
		<!-- End Involvement -->
    </div>
    
</div>

</div></div>

<%- include ../_footer %>
